.header{
background-color:grey;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.center {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
 color:black;
 font-weight:1000;
}
h1{
color:black;
text-align:center;
}
.menu{
display:flex;
justify-content: space-between;
margin: 40px;
padding: 15px;
font-size: 20px;
font-family: sans-serif;
font-weight: 400;
color: white;
}
body{
margin: 0px;
background -color: whitesmoke;
}
.grid img{

border-radius: 50px;
}
.bodyimg {
  position: relative;
  text-align: center;
  color: white;

}

.grid{
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
margin: 10px;
}

p,h1,h2,h4{
text-align:center;
}
body{
background-color:rgb(234, 234, 234)
}
.item:hover {
 transform: scale(1.2) 
}
a:link{
color:blue;

}

a:visited{
color:purple;
}
.menu a{
margin:0px;

}

.item{

}

.item p{
position:absolute;
bottom:30%;
left:50%;
opacity:0;
transform:translate(-50%,-50%);
}


.item:hover p{
opacity:1;
font:  small-caps normal 15px/150% Arial, Helvetica;

}
.item:hover img{
opacity:0.55;
}
ul {
  list-style-type: none;
  
  padding: 10;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.footer{
display:flex;
justify-content:flex-end;
}
.active {
  background-color: white;
}
