h1{
 color:black;
text-align:center;
}

.header{
background-color:violet;

}

.grid{
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
}

.footer{
display:flex;
justify-content:flex-end;
}

p,h2{
text-align:center;
}

body{
background-color:whitesmoke;
}

a:link{
color:blue;
text-decoration:none;
}

a:visited{
color:purple;
}

.menu{
margin:30px;
}

.menu a{
margin:0px;
}

.item{
position:relative;

border-radius:10px;
margin:40px;
}

.item p{
position:absolute;
bottom:40%;
left:50%;
opacity:0;
transform:translate(-50%,-50%);
}

.item img{
border-radius:10px;
height:90%;
}

.item:hover p{
opacity:1;
font: italic small-caps normal 15px/150% Arial, Helvetica, sans-serif;
color:purple;
}

.item:hover img{
opacity:0.33;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}












